body {
    margin: 0;
    padding: 0;
}

section {
    /*box-sizing: border-box;*/
    position: relative;
    height: 200px;
    background: green;
    padding: 30px;
}

section:after,
section:before,
.corners {
    content: '';
    position: absolute;
    width: 0;
    border-top: 30px solid white;
    border-right: 30px solid green;
}
section:before{
    top:0;
    left:0;
}
section:after {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
.corners:first-child{
    left:0;
    bottom: 0;
    transform: rotate(270deg);
}
.corners:last-child{
    top:0;
    right:0;
    transform: rotate(90deg);
}




